/* default css */
#screen{
    display: block;
    margin: 20px auto;
    text-align: center;
}

#rowScreen{
    position: relative;
}

#charScreen, #routeScreen, #menuScreen, #optionScreen {
    position: absolute; 
    z-index: 0; 
    background-color: transparent;
}

#menuScreen, #optionScreen {
    background-color: #fff;
}

#optionScreen {
    z-index: -1;
    opacity: 0;
}

#rowDialog{
    margin: 0 auto;
    border: #fff 1px dotted;
}

.spacer {
    height: 20px;
}

#footer{
    height: 100px;
}

ul{
    padding: 0;
}

#title{
    text-align: center;
}

p, h2{
    color: #fff;
}

h3{
    font-family: Arial;
    color: #fff;
}

a {
    color: #ddd;
}

a:hover {
    color: #fff;
}

body {
    background-color: #36454f;
    touch-action: manipulation;
}

.row {
    text-align: center;
    
    /* override bootstrap's default, which seems to be -15px? */
    margin-right: 0;
    margin-left: 0;
}

.btn {
    border: 1px solid #ccc;
}

.btn:hover {
    background-color: #ddd;
}

.btn-primary {
    padding: 5px 8px 5px 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 12%;
}

.routeOptionBtn {
    margin-top: 12%;
    border: 1px solid #000;
    background-color: #337ab7;
    color: #fff;
    font-weight: bold;
}

.routeOptionBtn:hover {
    background-color: #286090;
    color: #fff;
}

#menu {
    text-align: center;
    padding: 3% 1% 1% 3%;
}

#menu li {
    list-style-type: none;
    color: #fff;
}

#rowDialog {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
}

#left {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%; 
}

#right {
    margin-left: 70%;
}

/* options screen */
#volControl, #textControl {
    width: 70%; 
    display: inline-block; 
    margin: 0 auto;    
}

.optionVal {
    color: #000;
    display: inline-block;
}

#optionScreen label {
    padding: 4px;
}

#back {
    margin-top: 5%;
}
